.main-box {
    // background-color: #95c2de;
    margin: auto;
    height: 600px;
    width: 600px;
    position: relative;
}

.err {
    color: #95c2de;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 11rem;
    position: absolute;
    left: 30%;
    top: 8%;
}

.msg {
    text-align: center;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1.6rem;
    position: absolute;
    left: 16%;
    top: 45%;
    width: 75%;
}

.link {
    text-decoration: none;
    color: #95c2de;

    &:hover {
        text-decoration: underline;
    }
}
