$mobile-tablet-max-width: 800px;

@mixin mobileAndTablet {
    @media screen and (max-width: #{$mobile-tablet-max-width}) {
        @content;
    }
}

.collection-page {
    display: flex;
    flex-direction: column;

    .title {
        font-size: 38px;
        margin: 0 auto 30px;
    }

    .items {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 10px;

        @include mobileAndTablet() {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 15px;

            padding: 0 15px;
        }

        & .collection-item {
            margin-bottom: 30px;
        }
    }
}
